<section class="space-ptb bg-black z-index-2" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <span class="sub-title fade-in">
                        <img
                            class="img-fluid"
                            src="assets/images/icon2.png"
                            alt=""
                            data-i18n="faq.subtitle_icon"
                        />
                        <span data-i18n="faq.subtitle"></span>
                    </span>
                    <h2 class="title mb-3 fade-in" data-i18n="faq.title"></h2>
                    <p class="mb-0" data-i18n="faq.description"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div x-data="faqComponent">
                    <div class="accordion" id="faqAccordion">
                        <template x-for="(faq, index) in faqs" :key="index">
                            <div class="accordion-item advantage-style-1 mb-3">
                                <h2
                                    class="accordion-header"
                                    :id="'heading' + index"
                                >
                                    <button
                                        class="accordion-button"
                                        type="button"
                                        :class="{ 'collapsed': !faq.isOpen }"
                                        @click="toggleFaq(index)"
                                        x-text="faq.question"
                                    ></button>
                                </h2>
                                <div
                                    :id="'collapse' + index"
                                    class="accordion-collapse collapse"
                                    :class="{ 'show': faq.isOpen }"
                                    :aria-labelledby="'heading' + index"
                                    data-bs-parent="#faqAccordion"
                                >
                                    <div
                                        class="accordion-body"
                                        x-text="faq.answer"
                                    ></div>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="text-center mt-5">
                        <div class="attract-hover">
                            <div
                                class="attract-hover-easing"
                                style="transform: translate(0px)"
                            >
                                <a
                                    class="btn btn-effect"
                                    href="page2.html#contact"
                                >
                                    <span data-i18n="faq.contact_us"></span>
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
