<section
    id="projects"
    class="space-pt bg-black z-index-2 ellipse-top"
    x-data="projectsSection"
>
    <div class="space-pb ellipse-bottom">
        <div class="container">
            <div id="projectsContainer">
                <div class="row justify-content-between">
                    <div class="col-xxl-5 col-xl-5 mb-5 mb-xl-0">
                        <div class="sticky-top" style="top: 80px">
                            <div class="section-title">
                                <span class="sub-title">
                                    <img
                                        loading="lazy"
                                        class="img-fluid"
                                        src="assets/images/icon2.png"
                                        alt=""
                                        data-i18n="[alt]projects.subtitle_icon"
                                    />
                                    <span> Our Projects </span>
                                </span>
                                <h2 class="title" data-i18n="projects.title">
                                    Case Studies
                                </h2>
                            </div>
                            <div class="ps-xxl-5 ms-0 ms-md-5">
                                <p>
                                    Explore our innovative projects that deliver
                                    exceptional solutions across various
                                    industries.
                                </p>
                                <div class="rotate-images">
                                    <img
                                        class="img-fluid rotate-bg-img"
                                        src="assets/images/banner-bg-01.png"
                                        alt=""
                                    />
                                    <div class="rotate-img">
                                        <!-- <img
                                            class="img-fluid rotate"
                                            src="assets/images/shape.png"
                                            alt=""
                                        /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-7">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="project-boxs grid-wrapper">
                                    <!-- Projects populated dynamically -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div
                                    class="project-boxs grid-wrapper project-top-space"
                                >
                                    <!-- Projects populated dynamically -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="projectsLoading" class="hidden">
                <!-- Loading indicator content -->
            </div>
            <div id="projectsEmptyState" class="hidden">
                <!-- Empty state content -->
            </div>
        </div>
    </div>
</section>
