<!-- Banner Component -->
<div class="main-banner main-banner-3">
    <img
        loading="lazy"
        class="img-fluid banner-bg"
        src="assets/images/pg3.png"
        alt=""
        data-i18n="banner.image_alt"
    />
    <div class="container-fluid g-md-0">
        <div class="banner-inner">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content">
                        <span class="sub-title">
                            <img
                                loading="lazy"
                                class="img-fluid"
                                src="assets/images/icon2.png"
                                alt="Subtitle icon"
                            />
                            <span data-i18n="header.logo"></span>
                        </span>
                        <h1 class="title" data-i18n="banner.title">
                            <span class="icon-title">
                                <img
                                    loading="lazy"
                                    class="banner-icon"
                                    src="assets/images/01.png"
                                    alt="Banner icon"
                                />
                                <span data-i18n="banner.subtitle"></span>
                            </span>
                        </h1>

                        <p
                            class="banner-description"
                            data-i18n="banner.description"
                        ></p>

                        <div class="banner-content-footer">
                            <div class="banner-actions">
                                <div class="attract-hover">
                                    <div class="attract-hover-easing" style="transform: translate(0px)">
                                        <a class="btn btn-effect" href="index.html#projects">
                                            <span data-i18n="banner.start_project"></span>
                                            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 0L19.1924 10.5L10 21" stroke="#FFFFFF" stroke-width="2"/>
                                                <path d="M0 10.5H19.1924" stroke="#FFFFFF" stroke-width="2"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                                <div class="attract-hover ml-3">
                                    <div class="attract-hover-easing" style="transform: translate(0px)">
                                        <a class="btn btn-effect btn-outline" href="page2.html#contact" aria-label="Navigate to contact form">
                                            <span data-i18n="banner.contact_us"></span>
                                            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 0L19.1924 10.5L10 21" stroke="#FFFFFF" stroke-width="2"/>
                                                <path d="M0 10.5H19.1924" stroke="#FFFFFF" stroke-width="2"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="client-reviews">
                                <ul class="client-profile">
                                    <!-- Client images remain the same -->
                                </ul>
                                <div class="reviews">
                                    <span
                                        class="reviews-number"
                                        data-i18n="banner.clients"
                                    ></span>
                                    <span
                                        data-i18n="banner.satisfied_clients"
                                    ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>


</style>
