<!-- Footer Component -->
<footer class="site-footer footer-dark" id="contact">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <!-- معلومات العنوان -->
                <div class="col-xl-3 col-md-5">
                    <div class="widget widget-address-info">
                        <h5
                            class="widget-title"
                            data-i18n="footer.address.title"
                        >
                            أين تجدنا
                        </h5>
                        <ul class="address-info-list">
                            <li>
                                <i class="icon">
                                    <img
                                        class="img-fluid"
                                        src="assets/icons/address-info-contacts.svg"
                                        alt="الموقع"
                                    />
                                </i>
                                <span class="info">
                                    <span
                                        id="company-location"
                                        data-i18n="footer.address.location"
                                    >
                                    </span>
                                </span>
                            </li>
                            <li>
                                <i class="icon">
                                    <img
                                        class="img-fluid"
                                        src="assets/icons/address-info-headphone.svg"
                                        alt="الهاتف"
                                    />
                                </i>
                                <span class="info">
                                    <span
                                        id="company-phone"
                                        data-i18n="footer.address.phone"
                                        >+963 935 027 218</span
                                    >
                                    <span data-i18n="footer.address.phone_label"
                                        >من الاثنين إلى الجمعة 9 صباحًا - 6
                                        مساءً</span
                                    >
                                </span>
                            </li>
                            <li>
                                <i class="icon">
                                    <img
                                        class="img-fluid"
                                        src="assets/icons/address-info-email.svg"
                                        alt="البريد الإلكتروني"
                                    />
                                </i>
                                <span class="info">
                                    <span
                                        id="company-email"
                                        data-i18n="footer.address.email"
                                        >majdbayer77@gmail.com</span
                                    >
                                    <span data-i18n="footer.address.email_label"
                                        >دعم متاح على مدار الساعة</span
                                    >
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- النشرة الإخبارية والروابط -->
                <div class="col-xl-5 col-md-7">
                    <div class="widget">
                        <h5
                            class="widget-title"
                            data-i18n="footer.newsletter.title"
                        >
                            النشرة الإخبارية
                        </h5>
                        <div class="widget widget-newsletter mb-4 pb-2">
                            <form class="newsletter-form">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Email"
                                    data-i18n-placeholder="footer.newsletter.placeholder"
                                />
                                <button type="submit" class="subscribe-btn">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widget widget-menu">
                            <h6
                                class="widget-title"
                                data-i18n="footer.links.title"
                            >
                                روابط سريعة
                            </h6>
                            <ul class="list-unstyled list-col-3 mb-0">
                                <li>
                                    <a href="#" data-i18n="footer.links.home"
                                        >الرئيسية</a
                                    >
                                </li>

                                <li>
                                    <a
                                        href="index.html#ourteam"
                                        data-i18n="footer.links.team"
                                        >الفريق</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="index.html#servicesContainer"
                                        data-i18n="footer.links.service"
                                        >الخدمة</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="index.html#Blog"
                                        data-i18n="footer.links.why_choose_us"
                                        >لماذا تختارنا</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="page2.html#contact"
                                        data-i18n="footer.links.contact"
                                        >اتصل بنا</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="index.html#projects"
                                        data-i18n="footer.links.project"
                                        >الخدمة</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- معلومات الاتصال والوسائل الاجتماعية -->
                <div class="col-xl-3 col-md-12 ms-auto">
                    <div class="widget widget-info">
                        <h5 class="widget-title" data-i18n="footer.call.title">
                            مركز الاتصال
                        </h5>
                        <a
                            id="footer-phone"
                            class="number"
                            href="tel:+21555735513"
                            data-i18n="footer.call.number"
                        >
                            +963-935027218
                        </a>
                        <h6 class="title" data-i18n="footer.call.text">
                            واحصل على تقدير مجاني
                        </h6>
                    </div>

                    <div class="widget-socail">
                        <ul class="socail-icon">
                            <li>
                                <a id="facebook-link" href="#"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>
                            </li>
                            <li>
                                <a id="instagram-link" href="#"
                                    ><i class="fab fa-instagram"></i
                                ></a>
                            </li>
                            <li>
                                <a id="linkedin-link" href="#"
                                    ><i class="fab fa-linkedin-in"></i
                                ></a>
                            </li>
                            <li>
                                <a id="github-link" href="#"
                                    ><i class="fab fa-github"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- حقوق النشر -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p>
                        <a class="footer-logo" id="footer-company-name" href="#"
                            >Hexa Terminal</a
                        >
                    </p>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <p id="footer-company-desc">© 2025 جميع الحقوق محفوظة</p>
                </div>
            </div>
        </div>
    </div>
</footer>
